
<h2 class='page-title'>/welcome</h2>

<p>This is a basic route example. Some pages might be a simple bit of template.</p>

<p>In the route - you could set some data based on the user / or based on where they just were in the application.</p>

<p>Example: {{message}}</p>
